<?xml version="1.0" encoding="UTF-8"?>

<!--  ESTE STATUS ES EL NIVEL PARA TODAS LAS CLASES QUE SE USEN, NO SOLO LAS NUESTRAS  -->
<Configuration status="ERROR">
  <!-- El appenders lo que permite es asignar la salida de informacion ya sea por consola o mediante un archivo -->
  <Appenders> 
  
  <!-- Mediante consola se utiliza esta sintaxis -->
    <Console name="Consola" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <!-- Mediante la generacion de un archivo se utiliza esta sintaxis -->
    <File name="FicheroLogs" fileName="logs/app.log">
        <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
    </File>
    
    <!-- El rollingfile lo que permite es que se puedan generar archivos automaticamnete con un periodo de que uno elija -->
    <!-- Lo mas habitual es que se configuren para que se generen cada dia -->
    <RollingFile name="FicheroLogsSecuenciado" fileName="logs/secuenciado.log"
                    filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout>
			<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
		</PatternLayout>
		<Policies>
			<TimeBasedTriggeringPolicy />
			<SizeBasedTriggeringPolicy size="10 MB"/> <!-- Aquí se esá especificando que si llega a 10 mb antes de que se acabe el día genere un nuevo archivo -->
		</Policies>
	</RollingFile>
    
  </Appenders>
  
  <!-- esto define cómo funciona el logger -->
  <Loggers>
  	
  	<!-- podemos hacer un logger específico para una clase, de forma que trabaje en diferente nivel -->
  	<!-- el atributo additivity es para que no lo escriba dos veces, es decir, de su appender y del
  	de su padre Root -->
  	 

  	
  	<!-- este sería el nivel por defecto para las clases que no tienen una configuración específica -->
    <Root level="ERROR">
      <AppenderRef ref="Consola"/>
      <AppenderRef ref="FicheroLogs"/>
     <AppenderRef ref="FicheroLogsSecuenciado"/>
    </Root>
  </Loggers>
  
  
  
	
</Configuration>